################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/Aspose.Words.dll
/bin/Debug/Aspose.Total.lic
/bin/Debug/Aspose.Pdf.dll
/bin/Debug/Aspose.Cells.dll
/.vs/Excel-Compare Utility/v16/.suo
*.exe
/bin/Aspose.Words.dll
/bin/Aspose.Total.lic
/bin/Aspose.Pdf.dll
/bin/Aspose.Cells.dll
/obj/Debug
/bin/Debug/11.xlsx
/bin/Debug/1.xls
/bin/Debug/2.xls
/bin/Debug/1.xlsx
/bin/Debug/2.xlsx
